
<%- include("partials/header.ejs")%>
<%- include("partials/nav.ejs")%>

<div class="home">
    <h1>Welcome to Task Manager app</h1> 
    <p>Create your task with just easy steps</p>
    <span>
        <button><a href="/signin">signin</a></button>
        <button><a href="/signup">signup</a></button>
    </span>
   

</div>

  

    <%- include("partials/footer.ejs")%>
  